---
layout: page
title: Projects
permalink: /projects/
tag: menu_accessible
---

{% for page in site.pages %} 
	{% if page.category contains "project" %}
		<div class="project-brief-container">
			<div class="project-brief-image-container">
				{% if page.img %}
				  <img class="project-image-main" src="{{ site.baseurl }}/assets/img/{{ page.img }}">
				{% endif %}
			</div>
			<div class="project-brief-text-container">
				<div>
					<h2 class="project-brief-title">
						<a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
					</h2>
					<p class="project-brief-description">
						{{ page.sections['intro'] | textilize }}
					</p>
				</div>
				<div class="flex">
					{% for tag in page.tags %}
						<div class="project-brief-badge">
							TEST
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<hr>
	{% endif %}
{% endfor %}
