---
layout: discipline
title: "Prototyping"
permalink: /disciplines/pro
category: ['discipline']
tag: "pro"
icon: "fa fa-rocket"
description: |
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a dui semper felis vehicula ultrices sit amet egestas diam. Aenean pellentesque ipsum lectus, ut faucibus augue luctus at. Cras ullamcorper, purus ut lacinia tristique, eros quam convallis sem, aliquam malesuada arcu orci vel ex. Curabitur quis suscipit ipsum, sed pharetra est. Curabitur tempor laoreet nunc suscipit fermentum. Aliquam faucibus orci eget augue fermentum, sit amet egestas leo pellentesque. Sed vulputate mauris nec enim bibendum ultrices. 

---

<hr>
{% for page in site.pages %} 
	{% if page.category contains "project" %}
		{% if page.tags contains "pro" %}
			<div class="project-brief-container">
				<div class="project-brief-image-container">
					{% if page.img %}
					  <img class="project-image-main" src="{{ site.baseurl }}/assets/img/{{ page.img }}">
					{% endif %}
				</div>
				<div class="project-brief-text-container">
					<div>
						<h2 class="project-brief-title">
							<a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
						</h2>
						<p class="project-brief-description">
							{{ page.sections['intro'] | textilize }}
						</p>
					</div>
					<div class="flex">
						{% for tag in page.tags %}
							<a class="badge-link" href="{{ site.baseurl }}/disciplines/{{ tag }}">
								<div class="project-brief-badge badge-{{tag}}">
									{{ tag }}
								</div>
							</a>
						{% endfor %}
					</div>
				</div>
			</div>
			<hr>
		{% endif %}
	{% endif %}
{% endfor %}