<footer class="container">
	<div>
		<a class="reference-link" href="https://github.com/gavinpham">
			<i class="fab fa-github-square footer-link hidden"></i>
		</a>
		<a class="reference-link" href="https://www.linkedin.com/in/gavin-pham/">
			<i class="fab fa-linkedin footer-link hidden"></i>
		</a>
	</div>
	<a id="footer-contact" href="{{ site.baseurl }}/contact/" class="naked-link footer-link render-on-mobile hidden">
		Contact Me
	</a>
	<script src="{{ "/assets/js/footer.js" | prepend: site.url }}"></script>
</footer>