.conditional-padded {
	padding: 0 50px 0 50px; 
	@media (max-width: $resize-width){
		padding: 20px 0 20px 0;
	}
}

.about-body-container {
	@media (min-width: $resize-width){
		width: 60%;
	}
}

.about-cascade-entry {
	margin: 0;
}