/* Animations */
@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

@mixin animation ($delay, $duration, $animation, $timing: ease, $direction: forward, $fillmode: forwards) {
    -webkit-animation-delay:            $delay;
    -webkit-animation-duration:         $duration;
    -webkit-animation-name:             $animation;
    -webkit-animation-timing-function:  $timing;
    -webkit-animation-fill-mode:        $fillmode;
    -webkit-animation-direction:        $direction;
 
    -moz-animation-delay:               $delay;
    -moz-animation-duration:            $duration;
    -moz-animation-name:                $animation;
    -moz-animation-timing-function:     $timing;
    -moz-animation-fill-mode:           $fillmode;
    -moz-animation-direction:           $direction;
 
    animation-delay:                    $delay;
    animation-duration:                 $duration;
    animation-name:                     $animation;
    animation-timing-function:          $timing;
    animation-fill-mode:                $fillmode;
    animation-direction:                $direction;
}

/* Typewriter Animation */
.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  animation: 
    typing 0.7s steps(25, end),
}

/* Typewriter Animation */
.typewriter-slow {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  animation:
    typing 2s steps(17, end),
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@include keyframes(animation-appear-from-bottom){
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animation-appear-from-bottom{
  @include animation(0, 0.60s, animation-appear-from-bottom);
}

@include keyframes(animation-appear-from-top-slow){
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animation-appear-from-top-slow{
  @include animation(0, 0.60s, animation-appear-from-top-slow);
}

@include keyframes(animation-appear-from-bottom-slow){
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animation-appear-from-bottom-slow{
  @include animation(0, 1.50s, animation-appear-from-bottom-slow);
}

@include keyframes(animation-gain-height){
  0% {
    height:0px;
    opacity: 0;
  }
  100% {
    height: 100%;
    opacity: 1;
  }
}

.animation-gain-height{
  @include animation(0, 1.5s, animation-gain-height);
}

@include keyframes(animation-gain-width){
  0% {
    width:0px;
    opacity: 0
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}

.animation-gain-width{
  @include animation(0, 1.50s, animation-gain-width);
}


@include keyframes(animation-badge-entrance){
  0% {transform: translateY(15px);}
  50%, 100% {transform: translateY(0);}
    30% {transform: translateY(-20px);}
    80% {transform: translateY(-5px);}
}

.animation-badge-entrance{
  @include animation(0, 0.75s, animation-badge-entrance);
}
