/* Animations */
@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

@mixin animation ($delay, $duration, $animation, $timing: ease, $direction: forward, $fillmode: forwards) {
    -webkit-animation-delay:            $delay;
    -webkit-animation-duration:         $duration;
    -webkit-animation-name:             $animation;
    -webkit-animation-timing-function:  $timing;
    -webkit-animation-fill-mode:        $fillmode;
    -webkit-animation-direction:        $direction;
 
    -moz-animation-delay:               $delay;
    -moz-animation-duration:            $duration;
    -moz-animation-name:                $animation;
    -moz-animation-timing-function:     $timing;
    -moz-animation-fill-mode:           $fillmode;
    -moz-animation-direction:           $direction;
 
    animation-delay:                    $delay;
    animation-duration:                 $duration;
    animation-name:                     $animation;
    animation-timing-function:          $timing;
    animation-fill-mode:                $fillmode;
    animation-direction:                $direction;
}

/* Typewriter Animation */
.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  animation: 
    typing 0.7s steps(25, end),
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}