//	SCREEN SIZING
$content-width: 	800px;
$resize-width: 		960px;

//	COLORS
$black: #000;
$white: #fff;
$main: $black;
$header: $black;
$light: 		#E7EDF4;
$blue:			#1dace6;
$orange:		#fbae3c;
$yellow:		#e7f150;
$pink:			#fd4db0;

//	HOVER
$hover-opacity: 0.5;
$hover-transition-duration: 0.15s;
$hover-transition-timing-function: linear;

// FONT COLORS
$font-color: $black;
$link-color: $black;
$link-hover-color: $black;

//	HEADER
$heading-font: 'ministry';
$heading-font-color: $black;
$font-style: 'ministry', sans-serif;
$header-height: 90px;
$header-height-low-width: 50px;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
}