$content-width: 800px;
$main: #000000;
$font-style: 'ministry', sans-serif;
$font-color: #000000;
$link-color: #000000;
$link-hover-color: $main;
$heading-font: 'ministry';
$heading-font-color: #000000;
$light: #E7EDF4;
$header:  #000000;
$header-height: 90px;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}