/* Animations */
@include keyframes(animation-collapse-menu) {
    from {
        height: 300px; //TODO: Fix arbitrary height
    }

    to {
        height: 0px;
    }
}

@include keyframes(animation-expand-menu) {
    from {
        height: 0px;
    }

    to {
        height: 300px;
    }
}

@include keyframes(animation-appear){
    from {
        opacity:    0;
        -webkit-transform:  translate(30px);
            -ms-transform:  translate(30px);
                transform:  translate(30px);
    }
    to {
        opacity:    1;
    }
}

@include keyframes(animation-disappear){
    from {
        opacity:    1;
    }
    to {
        opacity:    0;
        -webkit-transform:  translateY(-20px);
            -ms-transform:  translateY(-20px);
                transform:  translateY(-20px);
    }
}

.animation-collapse-menu{
  @include animation(0, 0.3s, animation-collapse-menu);
}

.animation-expand-menu{
  @include animation(0, 0.3s, animation-expand-menu);
}

.animation-appear{
  @include animation(0, 0.3s, animation-appear);
}

.animation-disappear{
  @include animation(0, 0.1s, animation-disappear);
}

.navigation-list {
    display:            -webkit-box;
    display:            -ms-flexbox;
    display:            flex;
    -webkit-box-orient:     horizontal;
    -webkit-box-direction:     reverse;
        -ms-flex-direction:     row-reverse;
            flex-direction:     row-reverse;
    -webkit-box-pack:    justify;
        -ms-flex-pack:    justify;
            justify-content:    space-between;
    overflow:           hidden;
    height:             0px;
}

.nav-option {
    overflow: visible;
    opacity: 0;
}

#menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}

/* Fixed Navigation Bar */

header {
    background: $header;
    padding: 0px 15px;
    text-align: center;
    margin: 50px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

aside {
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    width: 100%;
    z-index: 2;
    border-bottom: 1px solid lighten($light, 30%);
    -webkit-box-shadow: 0px 3px 6px rgba(4, 25, 54, .1);
            box-shadow: 0px 3px 6px rgba(4, 25, 54, .1);
    div {
        h1 {
            line-height: .1;
        }
        nav {
            height: $header-height;
            margin: 0 auto;
            @media (max-width: $resize-width){
                height: $header-height-low-width;
            }
        }
        ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 130px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: right;
            -ms-flex-pack: right;
                justify-content: right;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
            li {
                width: 130px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: reverse;
                    -ms-flex-direction: row-reverse;
                        flex-direction: row-reverse;
                a {
                    width: 130px;
                    padding: 20px;
                    text-decoration: none;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    font-family: $font-style;
                    line-height: 20px;
                    -webkit-box-shadow: 0;
                            box-shadow: 0;
                    border-radius: 10px;
                    &:hover,&:active {
                        background: $header;
                        text-decoration: none;
                        color: $white;
                    }
                }
            }
        }
    }
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}
