.home-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	//TODO: Find a better resizing dimension for tablets
}

.featured-project-container {
	list-style: none;
	margin: 0;
	padding: 0;

	flex: 1 1 auto;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	li + li {
		margin: 0px 0px 0px 40px;
	}

	@media (max-width: $resize-width){
		flex-direction: column;

		li + li {
			margin: 20px 0px 0px 0px;
		}
	}
}

.featured-project {
	flex: 1 1 auto;
	position: relative;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 3px 6px 0 rgba(4, 25, 54, .2), 0 3px 6px 0 rgba(4, 25, 54, .19);
	@media (min-width: $resize-width){
		a {
			border-radius: 5px;
			&:after, &:before {
			    position:absolute;
			    opacity:0;
			    transition: all 0.5s;
			    -webkit-transition: all 0.5s;
			}
			&:after {
			    content: '\A';
			    width:100%;height:100%;
			    top:0;left:0;
				background: rgba(0,0,0,0.6);
			}
			&:before {
			    content: attr(data-content);
			    width:100%;
			    color:$white;
			    z-index:1;
			    padding:4px 10px;
			    text-align:center;
			    background:$main;
			    box-sizing:border-box;
			    -moz-box-sizing:border-box;
			}
			&:hover:after, &:hover:before {
			    opacity:1;
			}
			&:hover div{
			    opacity:1;
			}
		}
	}
}

.featured-project-body-container {
	position: absolute;
	top: 10px;
	z-index: 1;
	padding: 40px 20px 10px 20px;
	opacity: 0;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	text-overflow: ellipsis;
}

.project-image-main-info{
	position: absolute;
	opacity: 0;
}

.sub-header-container {
	margin: 25px 0 25px 0;
	display: flex;
	flex-direction: column;
}

.accent-line{
	position: absolute;
	left: 50px;
	bottom: 0px;
	border-right: 2px solid $gray-3;
	border-left: 2px solid $gray-3;
	width: 10px;
}

.accent-line-mobile{
	position: absolute;
	left: 0;
	top: 170px;
	height: 30px;
	border-bottom: 2px solid $gray-3;
}
