html {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	margin:0px;
}

body {
	height: 100%;
	display: flex;
	flex: 1 0 auto;
	flex-direction: column;
	margin:0px;
	@media (max-width: $resize-width){
		padding-top: $header-height-low-width;
	}
}

main {
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
}

article {
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
	align-items: left;
}

footer {
	display: flex;
	flex-direction: row-reverse;
	padding-top: 20px;
	padding-bottom: 40px;
}

.flex {
	display: flex;
}

.space-between {
	justify-content: space-between;
}

.align-center {
	align-items: center;
}

/* CSS to responsively scale elements*/
.container {
	margin-left: 100px;
	margin-right: 100px;
	@media (max-width: $resize-width){
		margin-left: 	25px;
		margin-right: 	25px;
	}
}
