html {
	min-height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin:0px;
}

body {
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	    -ms-flex: 1 0 auto;
	        flex: 1 0 auto;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin:0px;
	@media (max-width: $resize-width){
		padding-top: $header-height-low-width;
	}
}

main {
	-webkit-box-flex: 1;
	    -ms-flex: 1 0 auto;
	        flex: 1 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

article {
	-webkit-box-flex: 1;
	    -ms-flex: 1 0 auto;
	        flex: 1 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: left;
	    -ms-flex-align: left;
	        align-items: left;
}

footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	    -ms-flex-direction: row-reverse;
	        flex-direction: row-reverse;
	padding-top: 20px;
	padding-bottom: 40px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.conditional-flex-direction {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	@media (max-width: $resize-width){
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
}

.order-reverse {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	    -ms-flex-direction: row-reverse;
	        flex-direction: row-reverse;
	@media (max-width: $resize-width){
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		    -ms-flex-direction: column-reverse;
		        flex-direction: column-reverse;
	}
}

.hidden {
	opacity: 0;
}

.space-between {
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.align-center {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

/* CSS to responsively scale elements*/
.container {
	margin-left: 100px;
	margin-right: 100px;
	@media (max-width: $resize-width){
		margin-left: 	25px;
		margin-right: 	25px;
	}
}

.conditional-render {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	@media (max-width: $resize-width){
		display: none;
	}
}

.full-width {
	width: 100%;
}

.centered-column-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 100%;
	.split-column-container + .split-column-container {
			margin: 50px 0 0 0;
	}
	@media (max-width: $resize-width){
		.split-column-container + .split-column-container {
			margin: 25px 0 0 0;
		}
	}
}

.split-column-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	width: 100%;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	@media (max-width: $resize-width){
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		.reduced-size-on-desktop-container-double + .reduced-size-on-desktop-container-double {
			margin: 25px 0 0 0;
		}
	}
}

.reduced-size-on-desktop-container-single{
	-webkit-box-flex: 1;
	    -ms-flex: 1 0 auto;
	        flex: 1 0 auto;
	max-width: 50%;
	@media (max-width: $resize-width){
		max-width: 100%;
	}
}

.reduced-size-on-desktop-container-double{
	-webkit-box-flex: 1;
	    -ms-flex: 1 0 auto;
	        flex: 1 0 auto;
	max-width: 45%;
	@media (max-width: $resize-width){
		max-width: 100%;
		.reduced-size-on-desktop-container-double + .reduced-size-on-desktop-container-double {
			margin: 10px 0 0 0;
		}
	}
}

.shadowed {
	-webkit-box-shadow: 0 3px 6px rgba(4, 25, 54, .2), 0 3px 6px rgba(4, 25, 54, .19);
	        box-shadow: 0 3px 6px rgba(4, 25, 54, .2), 0 3px 6px rgba(4, 25, 54, .19);
}

.scaling-image{
	width: 100%;
	height: auto;
	vertical-align: bottom;
}

.render-on-mobile {
	display: none;
	@media (max-width: $resize-width){
		display: block;
	}
}

.render-on-desktop {
	display: block;
	@media (max-width: $resize-width){
		display: none;
	}
}

.flex-1 {
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}

.padded {
	padding: 15px 50px 30px 50px;
}