.project-header-container {
	display: flex;
	flex-direction: row;
	flex: 1;
	width: 100%;
	justify-content: space-between;
	padding: 0px 0px 50px 0px;
	@media (max-width: $resize-width){
		flex-direction: column;
	}
}

.project-header-text-container {
	display: flex;
	flex-direction: column;
	flex: 2;
	padding: 0px 50px 0px 0px;
	@media (max-width: $resize-width){
		padding: 0px 0px 10px 0px;
	}
}

.project-details {
	font-size: 1em;
	text-transform: uppercase;
	margin: 0px 0px 0px 0px;
	a {
		text-decoration: none;
		color: $main;
		transition-property: opacity;
		transition-duration: $hover-transition-duration;
		transition-timing-function: $hover-transition-timing-function;
		&:hover {
			opacity: $hover-opacity;
		}
		&:active {
			opacity: 0.3; //TODO: Standardize this
		}
	}
	@media (max-width: $resize-width){
		font-size: 0.9em;
	}
}

.project-image-container {
	width: 100%;
}

.project-image-main {
	width: 100%;
	height: auto;
	vertical-align: bottom;
	border-radius: 5px;
}

.project-badge-conditional-margins {
	@media (max-width: $resize-width){
		margin: 20px 0 20px 0;
	}
}

