.project-brief-container {
	display: flex;
	flex-direction: row;
	flex: 1;
	width: 100%;
	justify-content: space-between;
	@media (max-width: $resize-width){
		flex-direction: column;
	}
}

.project-brief-image-container {
	flex: 1 0 auto;
	width: 33%;
	overflow: hidden;
	@media (max-width: $resize-width){
		width: 100%;
	}
}

.project-brief-text-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0px 0px 0px 50px;
	@media (max-width: $resize-width){
		padding: 10px 0px 0px 0px;
	}
}

.project-brief-title {
	margin: 0px 0px 20px 0px;
}

.project-brief-description {
	margin: 0px 0px 20px 0px;
}

.project-brief-badge {
	border: 8px;
	border-style: solid;
	border-radius: 50%;
	width: 75px;
	height: 75px;
	margin: 10px 10px 10px 0px;
	text-align: center;
	font-size:20px;
	line-height: 60px;
	text-transform: uppercase;
	font-weight: 600;
}

.badge-link, .badge-link:visited, .badge-link:hover {
	text-decoration: none;
}

.badge-dev {
	border-color: $blue;
	color: $blue;
}

.badge-hcd {
	border-color: $orange;
	color: $orange;
}

.badge-pro {
	border-color: $pink;
	color: $pink;
}

hr {
    color:$light;
	width:100%;
    margin-bottom: 40px;
    margin-top: 40px;
    border-style: solid;
    border-width: 0.5px;
}
