.project-header-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	width: 100%;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 0px 0px 50px 0px;
	@media (max-width: $resize-width){
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
}

.project-header-text-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-flex: 2;
	    -ms-flex: 2;
	        flex: 2;
	padding: 0px 50px 0px 0px;
	@media (max-width: $resize-width){
		padding: 0px 0px 10px 0px;
	}
}

.project-details {
	font-size: 1em;
	text-transform: uppercase;
	margin: 0px 0px 0px 0px;
	a {
		text-decoration: none;
		color: $main;
		-webkit-transition-property: opacity;
		-o-transition-property: opacity;
		transition-property: opacity;
		-webkit-transition-duration: $hover-transition-duration;
		     -o-transition-duration: $hover-transition-duration;
		        transition-duration: $hover-transition-duration;
		-webkit-transition-timing-function: $hover-transition-timing-function;
		     -o-transition-timing-function: $hover-transition-timing-function;
		        transition-timing-function: $hover-transition-timing-function;
		&:hover {
			opacity: $hover-opacity;
		}
		&:active {
			opacity: 0.3; //TODO: Standardize this
		}
	}
	@media (max-width: $resize-width){
		font-size: 0.9em;
	}
}

.project-image-container {
	width: 100%;
}

.project-image-main {
	width: 100%;
	height: auto;
	vertical-align: bottom;
	border-radius: 5px;
}

.project-badge-conditional-margins {
	@media (max-width: $resize-width){
		margin: 20px 0 20px 0;
	}
}
