body {
	padding-top: $header-height;
	margin: 0;
	color: $font-color;
	font-family: $font-style;
	font-size: 1.1em;
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
}

h1,h2,h3 {
	font-weight: 600;
	color: $heading-font-color;
	font-family: $heading-font;
}

h1 {
	color: $main;
	font-size: 2.5em;
	line-height: 1.5;
	a,a:visited {
		text-decoration: none;
		color: $main;
	}
}

h2 {
	font-size: 2em;
}

a,a:visited {
	color: $link-color;
	text-decoration: underline;
	font-weight: bold;
}

a:hover {
	color: $link-hover-color;
	text-decoration: underline;
}

time {
	color: #898989;
}

i {
	color: $main;
	transition-property: opacity;
	transition-duration: $hover-transition-duration;
	transition-timing-function: $hover-transition-timing-function;

	&:hover {
		opacity: $hover-opacity;
	}
	&:active {
		opacity: 0.3; //TODO: Standardize this
	}
}

.site-title {
	font-weight: 400;
	color: $heading-font-color;
	font-family: $site-title-font;
	@media (max-width: $resize-width){
		font-size: 		1.5em;
	}
}

.page-title, .project-title {
	font-size: 2em;
	@media (max-width: $resize-width){
		font-size: 		1.5em;
	}
}

.content-label {
	color: $gray-3;
	font-size: 2em;
	position: absolute;
	top: 586px;
	font-weight: 400;
	display: inline-block;
	margin-top: 0;
	margin-bottom: 0;
}

.content-label-mobile {
	color: $gray-3;
	font-size: 1em;
	font-weight: 400;
	margin-top: 10px;
	margin-bottom: 0;
}

.sub-header {
	color: $sub-header;
	font-weight: 400;
	display: inline-block;
	margin-top: 0;
	margin-bottom: 0;
}

.detail-text {
	color: $gray-3;
	font-style: italic;
}

.white-body {
	color: $white;
	font-weight: 400;
	font-size: 0.90em;
	line-height: 1.4;
}

.rotate {
	/* Safari */
	-webkit-transform: rotate(-90deg);
	/* Firefox */
	-moz-transform: rotate(-90deg);
	/* IE */
	-ms-transform: rotate(-90deg);
	/* Opera */
	-o-transform: rotate(-90deg);
	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.marginless {
	margin: 0;
}

.naked-link,.naked-link:visited,.naked-link:hover{
	text-decoration: none;
}

.light-weight {
	font-weight: 400;
}

.reference-link, .reference-link:visited, .reference-link:hover {
	text-decoration: none;
	padding: 0 0 0 10px;
	font-size: 2em;
	color: $gray-3;
	transition: all $hover-transition-duration-long;
	-webkit-transition: all $hover-transition-duration-long;
	&:hover {
		color: $gray-1;
	}
}

.glyph {
	font-size: 30px;
}

.footer-link, #footer-contact{
	color: $gray-3;
	transition: all $hover-transition-duration-long;
	-webkit-transition: all $hover-transition-duration-long;
	&:hover {
		color: $gray-1;
	}
}

.centered-text {
	text-align: center;
}

#footer-contact {
	font-weight: 400;
	font-size: 1.2em;
}
