---
layout: default
---

<div class="home-container">
	<h4>
		Human-Centered Designer.
		<br />
		Computer Scientist.
		<br />
		Generally a Cool Guy.
	</h4>

	<ul class="featured-project-container">
		{% for page in site.pages %}
			{% if page.category contains "project" and page.category contains "featured" %}
			<a href="{{ page.url | prepend: site.baseurl }}">
				<li class="featured-project">
					{% if page.img %}
					  <img class="project-image-main" src="{{ site.baseurl }}/assets/img/{{ page.img }}">
					{% endif %}
				</li>
			</a>
			{% endif %}
		{% endfor %}
	</ul>
</div>