---
layout: default
---

<h2 class="project-title hidden">{{ page.title }}</h2>

<div class="project-header-container">
	<div class="project-header-text-container">
		<div class="flex conditional-flex-direction space-between">
			<p class="project-details hidden">
				{{ page.detial_text }}
				<a href="{{ page.detail_link_href }}">{{ page.detail_link_text }}</a>
				<br>
				{{ page.detail_timeline }}
			</p>
			<div class="flex project-badge-conditional-margins">
				{% for tag in page.tags %}
					{% for discipline_page in site.pages %}
						{% if discipline_page.category contains "discipline" %}
							{% if tag == discipline_page.tag %}
								<a class="badge-link" href="{{ site.baseurl }}/disciplines/{{ tag }}">
									<div class="project-brief-badge badge-{{tag}} hidden">
										<i class="{{ discipline_page.icon }} badge-icon"></i>
									</div>
								</a>
							{% endif %}
						{% endif %}
					{% endfor %}
				{% endfor %}
			</div>
		</div>
		<p class="project-brief-description hidden">
			{{ page.sections['intro'] | textilize | newline_to_br }}
		</p>
	</div>
	<div class="project-brief-image-container hidden">
		{% if page.img %}
		  <img class="project-image-main" src="{{ site.baseurl }}/assets/img/{{ page.img }}">
		{% endif %}
	</div>
</div>
<div class="project-body hidden">
	{{ content }}
</div>
<script src="{{ "/assets/js/projects.js" | prepend: site.url }}"></script>

